
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-image: url("bgimage1.jpeg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 400px;
    width: 100%;
    position: relative;
    opacity: 0.95;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #014d39;
    font-size: 14px;
    font-weight: bold;
}

.login-box h2 {
    text-align: center;
    color: #014d39;
}

.input-box {
    margin: 10px 0;
}

.input-box input {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.forgot-link {
    text-align: right;
    margin-bottom: 15px;
}

.forgot-link a {
    color: #014d39;
    text-decoration: none;
}

.login-btn {
    width: 100%;
    padding: 10px;
    background-color: #014d39;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.login-btn:hover {
    background-color: #013a4d;
}

